/AirWizard.class
/Anvil.class
/Chest.class
/Entity.class
/Furnace.class
/Furniture.class
/Inventory.class
/ItemEntity.class
/Lantern.class
/Mob.class
/Oven.class
/Player.class
/Skeleton.class
/Slime.class
/Spark.class
/Workbench.class
/Zombie.class
